# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://chouhanshreya2003_db_user:Shreya2003@cluster0.udb5wx4.mongodb.net/hrms?retryWrites=true&w=majority&appName=Cluster0# JWT
JWT_SECRET=sdfkadgfvzdbfjhbasduhgf
JWT_EXPIRES_IN=7d

# Frontend origin (for CORS)
CLIENT_URL=http://localhost:5173
